<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OnePush</title>
    <link rel="icon" type="image/png" href="/preview_16x16.png">
    <link href="stylesheet.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body data-ng-app="onepush" data-ng-controller="pushcheck">
    <header style="font-family: 'Open Sans',sans-serif">
        <div class="container">
            <div class="col-sm-7">
                <h1><span class="glyphicon glyphicon-globe"></span> OnePush <small>- Finding the best online website</small></h1>
            </div>
            <div class="col-sm-5" style="margin-top: 20px;">
                <div class="alert alert-success text-center">
                    We have recorded <b>{{total_input}}</b> aspirants till now. And Counting.....
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <h1 class="text-center sans_font">Let's Connect and be Productive</h1>
        <hr>
        <div class="col-sm-7" style="font-family: 'Open Sans',sans-serif">
            <div>
                <h3 class="text-center">Available Records</h3>
                <div class="col-sm-12">
                    <div class="pull-right"><input name="search" data-ng-model="test" style="border:1px solid white; height:40px; border-bottom-color: gray; outline: none" placeholder="Search"><span class="glyphicon glyphicon-search"></span></div>
                </div>
                <br><br><br>
                <div class="jumbotron" style="overflow-y: scroll; height:500px;">
                    <div class="well" style="background-color: white" data-ng-repeat="x in website | filter: test">
                        <div class="container-fluid">
                            <div class="col-sm-2">
                                <img src="{{x.favicon_image}}" class="img-circle" alt="NA" height="40" width="40">
                            </div>
                            <div class="col-sm-9">
                                <h4>I'm <b>{{x.title}}</b></h4>
                                <br>
                                <a href="{{x.url_address}}" target="_blank"><span class="glyphicon glyphicon-link record_link"></span> {{x.url_address}}</a>
                                <br>
                                <strong><span class="glyphicon glyphicon-tag"></span> {{x.tag}}</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <!---->
            <div class="well sans_font">
                <div class="text-center"><h1>Create New</h1></div>
                <br>
                <form name="newForm">
                    <div class="form-group">
                        <label for="title"><span class="glyphicon glyphicon-file"></span> Title</label>
                        <input class="form-control" type="text" id="title" data-ng-model="title" name="title" placeholder="Title of the Website" required>
                    </div>
                    <div class="form-group">
                        <label for="url" class=""><span class="glyphicon glyphicon-globe"></span> Website URL</label>
                        <input class="form-control" type="text" id="url" name="url" placeholder="Domain URL" data-ng-model="linkup" required>
                    </div>
                    <div class="form-group">
                        <label for="tag"><span class="glyphicon glyphicon-tag"></span> Tag</label>
                        <input class="form-control" type="text" id="tag" name="tag" data-ng-model="tag" placeholder="Mention a tag" required>
                    </div>
                    <div data-ng-show="linkup.length">
                        <hr>
                        <h1 class="text-center">
                            Preview
                        </h1>
                        <div class="col-sm-2">
                            <img class="img-thumbnail" height="50" width="50" alt="NA" id="demo_img">
                        </div>
                        <div class="col-sm-10">
                            <b id="title_input"></b>
                            <div class="alert alert-info"><span class="glyphicon glyphicon-link"></span> <strong id="website_url"></strong></div>
                        </div>
                    </div>
                    <br>
                    <button  class="btn btn-success btn-lg btn-block text-center sans_font" data-ng-click="submition()" id="submit_btn"> Submit</button>
                </form>
            </div>
        </div>
    </div>
    <div id="success_window" class="sans_font" hidden>
        <div class="container">
            <div class="col-sm-3"></div>
            <div class="well col-sm-7 notifier">
                <h2>{{title}},</h2>
                <br>
                <p>{{message}}</p>
                <div class="pull-right">
                    <button class="btn btn-success" id="success_window_suspend">Okey!</button>
                </div>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
    <footer>
        <div class="container sans_font">
            <hr>
            <div class="text-center">
                <strong>Built using <img src="https://worldvectorlogo.com/logos/angular-icon.svg" height="40" width="40"> AngularJS  | <img src="https://worldvectorlogo.com/logos/bootstrap-4.svg" height="40" width="40"> Bootstrap | <img src="https://worldvectorlogo.com/logos/jquery.svg" height="40" width="40"> JQuery</strong>
                <br><br>
                <strong><span class="glyphicon glyphicon-thumbs-up"></span> Did you liked my work?</strong>
                <br>
                <a class="btn btn-info" href="https://www.dropbox.com/s/hwo22lz8uq3rbg8/latest%20resume.pdf?dl=0" download> Download My Resume</a>
                <br>
                <div><b>Contact </b><span class="glyphicon glyphicon-phone"></span> +91-9774696698 | <span class="glyphicon glyphicon-envelope"></span> gourabsaha@outlook.in | <img src="https://worldvectorlogo.com/logos/linkedin-icon.svg" height="20" width="20" alt="LinkedIn"> <a href="https://in.linkedin.com/in/gourabsaha">LinkedIn Profile</a> </div>
                <h3>Happy Coding!</h3>
            </div>

        </div>
    </footer>
    <script type="application/javascript" src="app.js"></script>
    <script type="application/javascript" src="controller.js"></script>
    <script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script type="application/javascript" src="script.js"></script>
</body>
</html>